<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="copy">
    <a class="navbar-brand" href="/" th:href="@{/}">MiracleBank</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/" th:href="@{/send-money-form}">Transfers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/" th:href="@{/converter}">Converter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/" th:href="@{/about-us}">About us</a>
            </li>
        </ul>
    </div>
</nav>

</body>
</html>