<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>send-money-form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/" th:href="@{/}">MiracleBank</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/" th:href="@{/send-money-form}">Transfers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/" th:href="@{/converter}">Converter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/" th:href="@{/about-us}">About us</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div align="center">
        <h1>Transfer List</h1>
        <a href="/send-money-form/new">Create transfer</a>
        <br/><br/>
    </div>
</div>
</body>
</html>