<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>send-money-form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<div th:insert="~{navbar :: copy}"></div>

<div class="container">
    <div align="center">
        <h1>Transfer List</h1>
        <a href="/send-money-form/new">Create transfer</a>
        <br/><br/>
    </div>
</div>
</body>
</html>